<ons-page ng-controller="PortfolioSummaryController">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="app.menu.toggleMenu()">
        <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center" style="text-align: center;">Portfolio Summary</div>
  	<div class="right">
      <ons-toolbar-button ng-click="addTransaction()">
        <ons-icon icon="ion-plus" style="font-size: 32px; width: 1em;"></ons-icon>
      </ons-toolbar-button>
  	</div>
  </ons-toolbar>
  <ons-scroller>
    <ons-list>
      <ons-list-header>Total Equity: {{equity | number:2}}</ons-list-header>
      <ons-list-item class="summary" modifier="tappable" ng-repeat="position in positions">
        <ons-row>
          <ons-col width="50%">
            <div class="label">symbol:</div>
            <div class="symbol">{{position.symbol}}</div>
            <div class="numbers" ng-class="position.gain >= 0 ? 'positive' : 'negative'">
              {{position.gainSign}}{{ position.gain | number:2}}, {{position.gainSign}}{{ position.gainPct | number:2}}%
            </div>
          </ons-col>
          <ons-col>
            <div class="label">last:</div>
            <div class="numbers">{{position.last | number:2}}</div>
            <div class="label">avg.price:</div>
            <div class="numbers">{{position.averagePrice | number:2}}</div>
          </ons-col>
          <ons-col>
            <div class="label">shares:</div>
            <div class="numbers">{{position.shares | number:2}}</div>
            <div class="label">Cost:</div>
            <div class="numbers">{{position.cost | number:2}}</div>
          </ons-col>
        </ons-row>
      </ons-list-item>
    </ons-list>
  </ons-scroller>
</ons-page>