<ons-page ng-controller="PortfolioTxController">
	<ons-toolbar>
	<div class="left">
		<ons-toolbar-button ng-click="app.menu.toggleMenu()">
			<ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon>
		</ons-toolbar-button>
	</div>
	<div class="center">Portfolio Transactions</div>
	<div class="right">
		<ons-toolbar-button ng-click="addTransaction()">
			<ons-icon icon="ion-plus-round" style="font-size: 32px; width: 1em;"></ons-icon>
		</ons-toolbar-button>
	</div>
	</ons-toolbar>
	<ons-scroller>
		<ons-list>
		    <ons-list-header ng-repeat-start="dateGroup in transactions">{{dateGroup.date}}</ons-list-header>
			<ons-list-item ng-repeat="tx in dateGroup.txList" class="summary" modifier="tappable" ng-click="editTransaction(tx)">
				<ons-row ng-if="tx.type === 'withdraw' || tx.type === 'deposit' || tx.type === 'commission'">
					<ons-col>
						<div style="height: 90px;">
							<div class="tx-type" ng-class="tx.type === 'deposit' ? 'positive' : 'negative'">{{tx.type}}:</div>
							<div class="symbol">฿{{tx.amount | number}}</div>
						</div>
					</ons-col>
				</ons-row>
				<ons-row ng-if="tx.type === 'buy' || tx.type === 'sell'">
					<ons-col width="50%">
						<div class="tx-type" ng-class="tx.type === 'buy' ? 'positive' : 'negative'">{{tx.type}}:</div>
						<div class="symbol">{{tx.symbol}}</div>
					</ons-col>
					<ons-col>
						<div class="label">shares:</div>
						<div class="numbers">{{tx.amount | number}}</div>
						<div class="label">price/share:</div>
						<div class="numbers">{{tx.price | number}}</div>
					</ons-col>
					<ons-col>
						<div class="label">commission:</div>
						<div class="numbers">{{tx.commission.commission + tx.commission.vat | number}}</div>
						<div class="label">cost:</div>
						<div class="numbers">{{(tx.price * tx.amount) + (tx.commission.commission + tx.commission.vat) | number}}</div>
					</ons-col>
				</ons-row>
			</ons-list-item>
			<ons-list-header ng-repeat-end ng-hide="true"></ons-list-header>
		</ons-list>
	</ons-scroller>
</ons-page>