<ons-page ng-controller="PortfolioTxController">
	<ons-toolbar>
	<div class="left">
	  <ons-toolbar-button ng-click="app.menu.toggleMenu()">
	    <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon>
	  </ons-toolbar-button>
	</div>
	<div class="center">Portfolio Transactions</div>
	<div class="right">
	  <ons-toolbar-button ng-click="addTransaction()">
	    <ons-icon icon="ion-plus-round" style="font-size: 32px; width: 1em;"></ons-icon>
	  </ons-toolbar-button>
	</div>
	</ons-toolbar>
	<div>
		transactions
	</div>
</ons-page>