<ons-page ng-controller="EODController">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="app.menu.toggleMenu()">
        <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">Recommendation</div>
  </ons-toolbar>
  <div class="content-padded">
    <ons-button modifier="large" ng-click="execute()">Strategy Executed At {{recommendation.date}}</ons-button>
  </div>
  <ons-scroller>
    <ons-list>
      <ons-list-header>BUY</ons-list-header>
      <ons-list-item ng-if="recommendation.buys.length > 0" ng-repeat="buyItem in recommendation.buys">
        <ons-row class="positive">
          <ons-col>{{buyItem.symbol}}</ons-col>
          <ons-col>{{buyItem.amount | number}} shares</ons-col>
          <ons-col><div style="text-align: right;">at {{buyItem.price | number:2}}</div></ons-col>
        </ons-row>
      </ons-list-item>
      <ons-list-item ng-if="recommendation.buys.length === 0">No buy action today</ons-list-item>
      <ons-list-header>SELL</ons-list-header>
      <ons-list-item ng-if="recommendation.sells.length > 0" ng-repeat="sellItem in recommendation.sells">
        <ons-row class="negative">
          <ons-col>{{sellItem.symbol}}</ons-col>
          <ons-col>{{sellItem.amount | number}} shares</ons-col>
          <ons-col><div style="text-align: right;">at {{sellItem.price | number:2}}</div></ons-col>
        </ons-row>
      </ons-list-item>
      <ons-list-item ng-if="recommendation.sells.length === 0">No sell action today</ons-list-item>
    </ons-list>
  </ons-scroller>  
</ons-page>