.navbar {
    margin-bottom: 5px;
}

.layout {
    width: 100%;
    height: calc(100% - 50px);
}

.code-editor {
    width: 100%;
    height: 100%;
}

.chart-panel {
    width: 100%;
    height: 100%;
}