.navbar {
    margin-bottom: 0px;
}

.layout {
    width: 100%;
    height: calc(100% - 52px);
}

.code-editor {
    width: 100%;
    height: 100%;
}

.chart-panel {
    width: 100%;
    height: 100%;
}

.log-panel {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgb(53,53,55);
}

.log-line.error {
    color: red;
}

.log-line.info {
    color: white;
}