<nav class="navbar navbar-default" ng-controller="MainMenuController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">GINNE : BACKTESTER</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <span ng-show="vm.isMaster" class="glyphicon glyphicon-star" style="color: yellow; font-size: 20px; margin-top: 13px;" aria-hidden="true"></span>
                </li>
                <li ng-show="!vm.editingName">
                    <a href="javascript:void(0)" ng-click="editName()">{{(vm.dirtyFlag)?'*':''}} {{vm.strategyName}}</a>
                </li>
                <li ng-show="vm.editingName">
                    <input type="text" class="form-control" style="margin-top: 6px; width: 300px;" placeholder="Strategy Name" ng-model="vm.strategyName" ng-keypress="renameKeyPressed($event)" esc-key="resetName()" ng-blur="resetName()">
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        File <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" ng-click="new()">New</a></li>
                        <li class="divider"></li>
                        <li><a href="#" ng-click="open()">Open</a></li>
                        <li><a href="#" ng-click="save()">Save</a></li>
                        <li><a href="#" ng-click="saveAs()">Save As</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Set As Master</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Execution <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-class="{'disabled': vm.executing}"><a href="#" ng-click="execute()">Execute</a></li>
                        <li ng-class="{'disabled': vm.executing}"><a href="#" ng-click="updateData()">Update Data</a></li>
                        <li class="divider"></li>
                        <li ng-class="{'disabled': !vm.executing}"><a href="#" ng-click="stop()">Stop</a></li>
                    </ul>
                </li>
                <li>
                    <div>
                        <span class="glyphicon"
                              aria-hidden="true"
                              style="font-size: 20px; margin-top: 12px;"
                              ng-class="vm.connected ? 'glyphicon-ok-sign' : 'glyphicon-remove-sign'"
                              ng-style="{'color': vm.iconColor}"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>